@import '~open-color/open-color';
@import '~include-media/dist/include-media';

$loginBlueButton: #4486F9;
$strongGrayColor: rgba(0,0,0,0.8);
$weakGrayColor: rgba(0,0,0,0.4);
$veryWeakGrayColor: rgba(0,0,0,0.06);


$loginFormWidth: 452px;
$loginFormHeight: 511px;
